/*Patrick Powers, Project 2 VFW, 1112, 12/1/2011*/

body {
	background-color: #B2BEA9;
	border: 2px solid #564028;
	width: 480px; 
	height: 100%;
	overflow: scroll;
}

header {
	background: #869A77;
	padding: .1px;
	text-align: center;
	border: 1px solid #564028;
}

h1 {
	color: white; 
	font-family: Arial, Helvetica, sans-serif;
	
}

p {
	color: white; 
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
}

nav {
		text-align: center;
}

div {
	border: 1px solid black;
	margin: 30px;
	padding: 10px;
}

li {
	color: white;
	font-size: small;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}


a {
	color: #564028;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-decoration: underline;
	outline: none;
	line-height: 2em;
}

div {
	border: 2px solid #564028;
}

footer {
	text-align: center;
}

legend {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #564028;
	line-height: 2em;
}

label {
	display: block;
	color: white;
	font-size: small;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}

label[for=urgent]{
	display: inline;
	line-height:2em;
}

input {
	width: 100%;
}

select {
	width: 100%;
}

input[type=checkbox]{
	display: inline;
	width: 20px;
}

textarea {
	width: 100%;
}

input[type=submit]{
	font-size: 15px;
	width: 25%;
	margin: 5px;
}
