/*atrick Powers, Project 1 ASD, 1202, 2/2/2012*/


/*Specificity = If you have two (or more) conflicking CSS rules that point to the same
 * element, there are some basic rules that a browser follows to determine which one is
 * most specific and therefore wins out.
 */

.ui-li-heading{
	padding: 0px;
	margin: 0px;
}

.ui-li-desc{
	padding: 0px;
	margin: 0px;
}

label.error{
	display: block;
	margin: 10px 0px;
	color: red;
}

#form div.ui-block-b{
	margin: 15px 0px;
}

div.ui-btn-inner.ui-li{
	height: 68px;
}

#cats div.ui-btn-inner.ui-li{
	height: 45px;
}

div.ui-btn-text{
	height:68px;
}

img.ui-li-thumb{
	padding: 23px;
	
}

p.ui-li-desc{
	padding: 0px;
	margin:0px;
}

a.ui-link-inherit{
	padding: 0px;
	margin:0px;
}

#home .ui-grid-a div{
	text-align:center;
	height: 100px;
}

.homeIcons {
	padding: 0px 0px 5px 0px;
	margin: 0px;
}

header.addItemHeader{
	background: #7298C1;
}

#search{
	border: 0px;
	margin: 0px;
}

.searchform {
    display: inline-block;
    padding: 8px 2px 8px 2px;
}
.searchform input {
    font: 100% Arial,Helvetica,sans-serif;
}
.searchform .searchfield {
    border-radius: 10px 10px 10px 10px;
    padding: 6px 6px 6px 8px;
    width: 200px;
}

.searchform .searchbutton {
    border-radius: 10px 10px 10px 10px;
    color: black;
    font-size: 11px;
    height: 27px;
    width: 60px;
}

#addNewRecommendation {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	height: 80px;
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
	margin: 5px;
}

nav {
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

#items {
	color: black
}

a {
	color: #564028;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-decoration: none;
	outline: none;
	line-height: 2em;
}

.nav {
	background: #869A77;
	border: 1px solid #564028;
	vertical-align: middle;
    color: white;
	font-family: Arial, Helvetica, sans-serif;
	height: 25px;
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	display: block;
	text-decoration:none;
}

header {
	width: 100%;
	background: #6089B2;
	text-align: center;
	padding: 4px 0px 0px 0px;
}

nav#rating{
	background: #6089B2;
}

body {
	background-color: #e3e3e3;
	border: 0px solid #564028;
	width: auto; 
	height: 100%;
	overflow: scroll;
}

ul {
	padding: 5px;
}

li {
	color: black;
	font-size: small;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
}


footer {
	text-align: center;
}

fieldset {
	border-radius: 10px 10px 10px 10px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	line-height: 2em;
}

label {
	display: block;
	color: #000000;
	font-size: medium;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}

input {
	width: 100%;
	border-radius: 10px 10px 10px 10px;
	padding: 0px;
	margin: 0px;
	line-height: 2em
}

select {
	width: 100%;
	border-radius: 10px 10px 10px 10px;
	background: #6089B2;
}

textarea {
	width: 100%;
	border-radius: 10px 10px 10px 10px;
}

input[type=submit]{
	border-radius: 10px 10px 10px 10px;
    background:#6089B2;
    color: black;
    font-size: 11px;
    height: 27px;
    width: 100px;
    margin: 5px;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

=======
/*
>>>>>>> master
=======

>>>>>>> master
=======

>>>>>>> master
=======

>>>>>>> master
#addNewRecommendation {
	border-radius: 10px 10px 10px 10px;	
	border: 1px solid #564028;
	vertical-align: middle;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

=======
*/
>>>>>>> master
=======

>>>>>>> master
=======

>>>>>>> master
=======

>>>>>>> master
li.recos {
	color: black; 
	border-radius: 10px 10px 10px 10px;
	vertical-align: middle;
	list-style: none;
	padding: 10px;
	border: 2px solid #000000;
	text-decoration:none;
	margin: 5px;
}

input.viewlists {
	background: #6089B2;
	border: 1px solid #564028;
	vertical-align: middle;
    color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-radius: 10px 10px 10px 10px;
	margin: 10px 5px 5px 10px;
	padding: 3px;
	display: inline;
	width: 150px;
	text-decoration:none;
}

li #deleteItem{
	background: #6089B2;
	border: 1px solid #564028;
	vertical-align: middle;
    color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-radius: 10px 10px 10px 10px;
	margin: 5px 10px 5px 10px;
	padding: 3px 20px 3px 20px;
	display: inline;
	text-decoration:none;
	list-style: none;
}

li #changeItem{
	background: #6089B2;
	border: 1px solid #564028;
	vertical-align: middle;
    color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-radius: 10px 10px 10px 10px;
	margin: 5px 10px 5px 10px;
	padding: 3px 20px 3px 20px;
	display: inline;
	width: 150px;
	text-decoration:none;
	list-style: none;
}

div.ui-content{
background: #edf4ff; /* Old browsers */
background: -moz-linear-gradient(top,  #edf4ff 1%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#edf4ff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf4ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

form.ui-listview-filter{
	background: #edf4ff; /* Old browsers */
background: -moz-linear-gradient(top,  #edf4ff 1%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#edf4ff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf4ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

li.ui-li.ui-li-divider{
	background: #edf4ff; /* Old browsers */
background: -moz-linear-gradient(top,  #edf4ff 1%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#edf4ff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top,  #edf4ff 1%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf4ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

input.ui-input-text{
	background: white;
}

textarea#comments.ui-input-text{
	background: white;
}

div.ui-input-search{
	background: white;
}
