body {
	background-image:url('img/bglogo.png');
	background-repeat:repeat;
} 

#mainLogo {
	width: 80%;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	color: black;
	border-top: 1px #b0c1df solid;
	border-bottom: 1px #7c7c7c solid;
	background: #ffffff;
	filter: alpha(opacity=50);
	opacity: 0.8;
	padding: 8px;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

a {
	color: black;
	text-decoration: none;
	margin-top: auto;
    margin-bottom: auto;
	
}

.listHead {
	color: white;
	background: #1457dc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	font-size: 18px;
	filter: alpha(opacity=50);
	opacity: 0.95;
	margin: 15px 0px 0px 0px;
}

.listEnd {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 0px 0px 15px 0px;
}

img {
	margin: 0em 1em 0em 1em;
}

#largeImage {
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

#largeMap {
    margin-left:auto;
    margin-right:auto;
}

button
{
	width: 100%;
    padding:7px 20px;
	
	border:1px solid rgb(99,99,99); /* Normal (IE) support. */
	border:1px solid rgba(99,99,99,0.9); /* No (IE) support, thus ignored. */
	
	border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px;
	
	box-shadow:inset 1px 1px 1px rgba(99,99,99,0.4);
	-webkit-box-shadow:inset 1px 1px 1px rgba(99,99,99,0.4);
	-moz-box-shadow:inset 1px 1px 1px rgba(99,99,99,0.4);
	
	/* A little shadow is added to make the button 
	look sunk into the background (an illusion).
	
	"inset"			Shadow will appear inside the element.
	"1px"			Positioned from left.	
	"1px"			Positioned from top.
	"1px"			Shadow size.
	"rgba(99,99,99,0.4)" 	Color, a transparant grey. */
	
	background:#597eaa; /* Normal (IE) support. */
	background:-webkit-gradient( /* No (IE) support, thus ignored. */
		linear, 
		0 0, 
		0 100%, 
		color-stop(0,#97adc8), 
		color-stop(0.5, #6b8bb2), 
		color-stop(0.5, #597eaa), 
		color-stop(1, #5b80ab)
	);
	background:-moz-linear-gradient( /* No (IE) support, thus ignored. */
		#97adc8 0%, /* From top 0%. Opens gradient #1. */
		#6b8bb2 50%, /* From top 50%. Closes gradient #1. */
		#597eaa 50%, /* From top 50%. Opens gradient #2. */
		#5b80ab 100% /* From top 100%. Closes gradient #2. */
	);
	
	color:#fff; 
	font:bold 24px/22px Helvetica Neue, Arial, sans-serif; 
	text-decoration:none;
	text-shadow:0px -1px 1px rgba(0,0,0,0.75); /* No (IE) support, thus ignored. */
	
	/* To strengten the illusion of the "sunk into the background" status 
	of the button, the "text-shadow" property has been used for text.
	
	"0px"			Positioned from left.	
	"-1px"			Positioned from top.
	"1px"			Shadow size.
	"rgba(0,0,0,0.75)" 	Color, a transparant black. */

}

