body {
	background-image:url('bglogo.png');
	background-repeat:repeat;
} 

#mainLogo {
	width: 80%;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	color: black;
	border-top: 1px #b0c1df solid;
	border-bottom: 1px #7c7c7c solid;
	background: #ffffff;
	filter: alpha(opacity=50);
	opacity: 0.8;
	padding: 8px;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

a {
	color: black;
	text-decoration: none;
	margin-top: auto;
    margin-bottom: auto;
	
}

.listHead {
	color: white;
	background: #1457dc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	font-size: 18px;
	filter: alpha(opacity=50);
	opacity: 0.95;
}

.listEnd {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

img {
	margin: 0em 1em 0em 1em;
}

footer {
	color: white;
	padding: 4px;
	margin: 10px 0px;
	background: #1457dc;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;	
	border-radius: 10px;
}


