#index {
	background-image:url('bglogo.png');
	background-repeat:repeat;
} 

#week1 {
	background-image:url('bglogo.png');
	background-repeat:repeat;
} 

.ui-content {
	position: relative;
}

#mainLogo {
	width: 80%;
}

#contact {
	padding: 5px 15px;
}

